extends ../template/layout
include ../mixins/form-helper

block content
  .row
    .small-12.columns
      h1 Admin Page
  .row
    .small-6.columns
      p#offerstatus.error
      if venues
        h4 Your Venues
        #venuediv
          table#venues
            thead
              tr
                th Name
                th Address
                th City
                th State
                th Office Phone
                th Email
            tbody
              each venue in venues
                tr
                  td= venue.name
                  td= venue.address
                  td= venue.city
                  td= venue.state
                  td= venue.officePhone
                  td= venue.email
    .small-6.columns
  .row#offerRow
    .small-6.columns
      if offers
        h4 Your Offers
        #offerdiv
          table#offers
            thead
              tr
                th Artist
                th Date
                th After
                th Before
                th Price
                th Venue
                th Confirmed
            tbody
              each offer in offers
                tr
                  td= offer.artist
                  td= offer.showDate
                  td= offer.daysPrior
                  td= offer.daysAfter
                  td= '$'+offer.guarantee+'.00'
                  - var venue = __.where(venues, {_id:offer.venue})
                  td=venue[0].name
                  td= offer.isConfirmed
  .row
    .small-6.small-offset-6.columns
      #map-canvas
